<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>Wachtwoord Herstellen</title>
    <link rel="stylesheet" href="/static/css/login.css">
</head>

<body>

<div class="login-container">

    <div class="login-card">
        <h2>Nieuw Wachtwoord</h2>

        <form method="POST">

            <label>Nieuw wachtwoord</label>
            <input type="password" name="password" class="input-field" required>

            <button class="login-btn">Opslaan</button>

        </form>
    </div>

</div>

</body>
</html>
